[Unit]
Description=Media Date Standardize
After=network.target

[Service]
User=root
Group=root
Type=simple
DynamicUser=yes
Restart=on-failure
RestartSec=5s
ExecStart=/bin/bash -c 'export NTFY_URL="" && export NTFY_TOKEN="" && /MediaDateStandardize/mediaDateStandardizeCopyLoop.sh "/Source" "/Destination"'

[Install]
WantedBy=multi-user.target